html {
	body {
		#app-header {
			#app-name {
				text-align: center;
			}
		}
		#kinect-parallax {
			border-radius: 5px;
			.cursor {
				&#cursor {
					display: none;
					background: url('../images/hand.png');
					opacity: 0.0;
				}
			}
		}
		.popin {
			p {
				font-size: 14px;
				text-align: justify;
			}
		}
		.overlay {
			background: rgb(41, 41, 41);
			opacity: 0.75;
		}
	}
}