@import 'variables-screen-small';
// @import 'variables-screen-medium';
// @import 'variables-screen-big';

.transformOrigin(@X: center, @Y: center, @Z: 0px) {
	-webkit-transform-origin: @X @Y @Z; /* Safari and Chrome */
	   -moz-transform-origin: @X @Y @Z; /* Firefox */
	    -ms-transform-origin: @X @Y @Z; /* IE 9 */
	     -o-transform-origin: @X @Y @Z; /* Opera */
	        transform-origin: @X @Y @Z; /* W3C */
}
.transform(@transform: scale(1)) {
	-webkit-transform: @transform; /* Safari and Chrome */
	   -moz-transform: @transform; /* Firefox */
	    -ms-transform: @transform; /* IE 9 */
	     -o-transform: @transform; /* Opera */
	        transform: @transform; /* W3C */
}

html {
	body {
		position: absolute;
		width: 100%;
		height: 100%;
		background: rgb(0, 0, 0);
		#app-header {
			display: none;
			padding: 25px 0 0 0;
			#app-name {
				margin: 0;
			}
			#app-user {
				width: @appWidth;
				margin: 0 auto 0 auto;
				p {
					margin: 0;
				}
			}
		}
		#kinect-parallax {
			position: relative;
			margin: 80px auto 0 auto;
			max-width: @appWidth;
			min-width: @appWidth;
			max-height: @appHeight;
			min-height: @appHeight;
			#kinect-parallax-layer-1 {
				top: @layer1Top;
				left: ((@appWidth - @layer1Width) / 2);
				width: @layer1Width;
				height: @layer1Height;
				z-index: 14;
				img {
					position: absolute;
					top: @layer1ImgTop;
					&#car {
						top: 366px;
						-webkit-transform: translate(778px, 0px) translateZ(0px);
						-moz-transform: translate(778px, 0px) translateZ(0px);
						-ms-transform: translate(778px, 0px) translateZ(0px);
						-o-transform: translate(778px, 0px) translateZ(0px);
						transform: translate(778px, 0px) translateZ(0px);
					}
				}
			}
			#kinect-parallax-layer-2 {
				top: @layer1Top;
				left: ((@appWidth - @layer1Width) / 2);
				width: @layer1Width;
				height: @layer1Height;
				z-index: 20;
				img {
					position: absolute;
					&#car-text {
						top: 550px;
						left: 688px;
						.transform(scale(0.7));
					}
				}
			}
			#kinect-parallax-layer-3 {
				top: @layer2Top;
				left: ((@appWidth - @layer2Width) / 2);
				width: @layer2Width;
				height: @layer2Height;
				z-index: 11;
				img {
					position: absolute;
					top: @layer2ImgTop;
					left: @layer2ImgLeft;
				}
			}
			#kinect-parallax-layer-4 {
				top: @layer3Top;
				left: ((@appWidth - @layer3Width) / 2);
				width: @layer3Width;
				height: @layer3Height;
				z-index: 10;
				img {
					position: absolute;
					top: @layer3ImgTop;
					left: @layer3ImgLeft;
				}
			}
			#kinect-parallax-layer-5 {
				top: @layer4Top;
				left: ((@appWidth - @layer4Width) / 2);
				width: @layer4Width;
				height: @layer4Height;
				z-index: 8;
				img {
					position: absolute;
					top: @layer4ImgTop;
				}
			}
			#kinect-parallax-layer-6 {
				top: @layer5Top;
				left: ((@appWidth - @layer5Width) / 2);
				width: @layer5Width;
				height: @layer5Height;
				z-index: 5;
				img {
					position: absolute;
					top: @layer5ImgTop;
					left: @layer5ImgLeft;
				}
			}
			#kinect-parallax-layer-7 {
				top: @layer6Top;
				left: ((@appWidth - @layer6Width) / 2);
				width: @layer6Width;
				height: @layer6Height;
				z-index: 1;
				img {
					position: absolute;
					top: @layer6ImgTop;
				}
			}
			#kinect-parallax-layer-8 {
				position: absolute;
				top: @layer7Top;
				left: ((@appWidth - @layer7Width) / 2);
				width: @layer7Width;
				height: @layer7Height;
				z-index: 100;
				#sun {
					display: none;
					position: absolute;
					top: 0;
					left: 625px;
				}
				#header-text {
					position: absolute;
					top: 65px;
					left: 350px;
				}
				#info-1,
				#info-2 {
					position: absolute;
					bottom: -190px;
					left: 900px;
					z-index: 100;
					width: 150px;
				}
				#info-2 {
					display: none;
				}
			}
			.cursor {
				display: none;
				position: absolute;
				top: 0;
				left: 50%;
				width: 25px;
				height: 25px;
				z-index: 999;
			}
		}
		#debug {
			width: @appWidth;
			margin: auto;
			table {
				width: 100%;
				tr {
					width: 100%;
					th,
					td {
						width: 100% / 3;
						text-align: center;
					}
				}
			}
		}
		#sun-informations,
		.popin {
			img {
				display: blocK;
				width: 100%;
				max-width: 300px;
				margin: auto;
			}
		}
		.overlay {
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 999;
		}
	}
}