@appWidth: 1500px;
@appHeight: 880px;

@layer1Width: 2436px;
@layer1Height: 666px;
@layer1Top: 107px;
@layer1ImgTop: 343px;
@layer1ImgLeft: auto;

@layer2Width: 1000px;
@layer2Height: 346px;
@layer2Top: 320px;
@layer2ImgTop: 75px;
@layer2ImgLeft: -550px;

@layer3Width: 857px;
@layer3Height: 778px;
@layer3Top: 51px;
@layer3ImgTop: -150px;
@layer3ImgLeft: 600px;

@layer4Width: 1840px;
@layer4Height: 407px;
@layer4Top: 266px;
@layer4ImgTop: 25px;
@layer4ImgLeft: auto;

@layer5Width: 720px;
@layer5Height: 356px;
@layer5Top: 266px;
@layer5ImgTop: 30px;
@layer5ImgLeft: -500px;

@layer6Width: 2000px;
@layer6Height: 1014px;
@layer6Top: -190px;
@layer6ImgTop: -10px;
@layer6ImgLeft: auto;

@layer7Width: 752px;
@layer7Height: 753px;
@layer7Top: -60px;
@layer7ImgTop: auto;
@layer7ImgLeft: 650px;