{% extends '::base.html.twig' %}

{% block title %}Kinect-Parallax Stats{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel='stylesheet' href='{{ asset('bundles/fsbkinectparallaxfront/css/normalize.css') }}' />
{% endblock %}

{% block head_javascripts %}
	{{ parent() }}
	<script src='{{ asset('bundles/fsbkinectparallaxfront/js/vendor/modernizr-2.6.2.min.js') }}'></script>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{% block scripts %}
		<script src='http://code.jquery.com/jquery-latest.min.js'></script>
		<script>window.jQuery || document.write('<script src=\'{{ asset("bundles/fsbkinectparallaxfront/js/vendor/jquery-1.9.1.min.js") }}\'><\/script>')</script>
	{% endblock%}
{% endblock %}