<!DOCTYPE html>
<!--[if lt IE 7]>      <html class='no-js lt-ie9 lt-ie8 lt-ie7'> <![endif]-->
<!--[if IE 7]>         <html class='no-js lt-ie9 lt-ie8'> <![endif]-->
<!--[if IE 8]>         <html class='no-js lt-ie9'> <![endif]-->
<!--[if gt IE 8]><!--> <html class='no-js'> <!--<![endif]-->
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'>
        <meta name='keywords' content='Kinect, Parallax, JavaScript, xBox Kinect, Kinect for windows'>
        <meta name='description' content='A JavaScript parallax effect prototype based on Kinect events, using Zigfu library.'>
        <meta name='author' content='Florent SCHILDKNECHT'>
        <meta name='viewport' content='width=device-width'>
        <title>{% block title %}Kinect Parallax Prototyp!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% block head_javascripts %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>