{% extends 'FSBKinectParallaxFrontBundle::layout.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<link rel='stylesheet' href='{{ asset('bundles/fsbkinectparallaxfront/css/jquery-ui-1.10.2.cupertino.min.css') }}' />
	<link rel='stylesheet' href='{{ asset('bundles/fsbkinectparallaxfront/css/jquery.kinect-parallax.min.css') }}' />
	<link rel='stylesheet' href='{{ asset('bundles/fsbkinectparallaxfront/css/app.min.css') }}' />
{% endblock %}

{% block body %}
	<header id='app-header'>
		<h1 id='app-name'>Kinect-based Parallax Prototype</h1>
		<h4 id='app-user'></h4>
	</header>
	<!-- #kinect-parallax is our viewport -->
	<section id='kinect-parallax' class='kinect-parallax-viewport'>
		<!-- .kinect-parallax-laery are our layers, just set them a width, a height, and a z-index ! -->
		<div id='kinect-parallax-layer-1' class='kinect-parallax-layer'>
			<img src='{{ asset("bundles/fsbkinectparallaxfront/images/layers/layer-1.png") }}' alt='Front'>
			<img id='car' data-offset-left='778' src='{{ asset("bundles/fsbkinectparallaxfront/images/layers/S60.png") }}' alt='Car'>
		</div>
		<div id='kinect-parallax-layer-2' class='kinect-parallax-layer'>
			<img id='car-text' src='{{ asset("bundles/fsbkinectparallaxfront/images/layers/S60-text.png") }}' alt='Car Text Description'>
		</div>
		<div id='kinect-parallax-layer-3' class='kinect-parallax-layer'>
			<img src='{{ asset("bundles/fsbkinectparallaxfront/images/layers/layer-2.png") }}' alt='Left moutains'>
		</div>
		<div id='kinect-parallax-layer-4' class='kinect-parallax-layer'>
			<img src='{{ asset("bundles/fsbkinectparallaxfront/images/layers/layer-3.png") }}' alt='Right moutains'>
		</div>
		<div id='kinect-parallax-layer-5' class='kinect-parallax-layer'>
			<img src='{{ asset("bundles/fsbkinectparallaxfront/images/layers/layer-4.png") }}' alt='Background moutains - left'>
		</div>
		<div id='kinect-parallax-layer-6' class='kinect-parallax-layer'>
			<img src='{{ asset("bundles/fsbkinectparallaxfront/images/layers/layer-5.png") }}' alt='Background moutains - central'>
		</div>
		<div id='kinect-parallax-layer-7' class='kinect-parallax-layer'>
			<img src='{{ asset("bundles/fsbkinectparallaxfront/images/layers/layer-6.png") }}' alt='Sky and sun'>
		</div>
		<div id='kinect-parallax-layer-8'>
			<img id='sun' src='{{ asset("bundles/fsbkinectparallaxfront/images/layers/sun.png") }}' alt='Shining sun'>
			<img id='header-text' src='{{ asset("bundles/fsbkinectparallaxfront/images/header-text.png") }}' alt='Header Text'>
			<img id='info-1' src='{{ asset("bundles/fsbkinectparallaxfront/images/handswipe.png") }}' alt='Infos Hand 1'>
			<img id='info-2' src='{{ asset("bundles/fsbkinectparallaxfront/images/handswipe.gif") }}' alt='Infos Hand 2'>
		</div>
		<div class='cursor' id='cursor'></div>
	</section>
	<section id='debug'>
		<table>
			<caption>DEBUG - Head Position</caption>
			<thead>
				<tr>
					<th>X</th>
					<th>Y</th>
					<th>Z</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td id='head-x'>0</td>
					<td id='head-y'>0</td>
					<td id='head-z'>0</td>
				</tr>
			</tbody>
		</table>
	</section>
{% endblock %}

{% block scripts %}
	{{ parent() }}
	<script src='{{ asset('bundles/fsbkinectparallaxfront/js/vendor/jquery-ui-1.10.2.cupertino.min.js') }}'></script>
	<script src='{{ asset('bundles/fsbkinectparallaxfront/js/vendor/jquery.transit-0.9.9.min.js') }}'></script>
	<script src='{{ asset('bundles/fsbkinectparallaxfront/js/vendor/jquery.jCanvas-13.03.20.min.js') }}'></script>
	<script src='{{ asset('bundles/fsbkinectparallaxfront/js/vendor/jquery.kinect-parallax.js') }}'></script>
	<script src='{{ asset('bundles/fsbkinectparallaxfront/js/vendor/datejs-1.0.min.js') }}'></script>
	<script src='{{ asset('bundles/fsbkinectparallaxfront/js/vendor/spin-1.3.0.min.js') }}'></script>
	<script src='{{ asset('bundles/fsbkinectparallaxfront/js/vendor/buzz-1.0.6.min.js') }}'></script>
	<script src='{{ asset('bundles/fsbkinectparallaxfront/js/vendor/polygon.js') }}'></script>
	<script src='{{ asset('bundles/fsbkinectparallaxfront/js/plugins.js') }}'></script>
	<script src='{{ asset('bundles/fsbkinectparallaxfront/js/vendor/zigfu.min.js') }}'></script>
	<script src='{{ asset('bundles/fsbkinectparallaxfront/js/app.js') }}'></script>
	<script>
		(function ($) {
			$(document).on('ready', function() {
				var $viewport = $('#kinect-parallax'),
					$layers = $('#kinect-parallax .kinect-parallax-layer').KinectParallax('init', {
						'viewport': $viewport,
						'axisXAllowed': true,
						'axisYAllowed': true,
						'axisZAllowed': true,
						'scaling': {
							'min': 0.85,
							'max': 1.20
						},
						'axisZ': 100
					}),
					initialPosition = {
						'x': null,
						'y': null,
						'z': null
					};

				$(this).on('headstart', function (e, position) {
					if (Array.isArray(position)) {
						initialPosition = {
							'x': position[0],
							'y': position[1],
							'z': position[2]
						}
					} else {
						initialPosition = {
							'x': position.x,
							'y': position.y,
							'z': position.z
						}
					}
					$layers.KinectParallax('start', initialPosition);
				});
				$(this).on('headstop', function (e) {
					$layers.KinectParallax('stop', initialPosition);
				});
				$(this).on('headmove', function (e, position) {
					$layers.KinectParallax('move', position);
				});
			});
		})(window.jQuery);
	</script>
{% endblock %}